* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    font-family: 'Akaya Telivigala', cursive;
    color: #292525;
    overflow-x: hidden;
}

.left {
    width: 40%;
    float: left;
    padding: 30px;
    position: relative;
}

.left .toggle {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 99;
    cursor: pointer;
    transition: all ease 0.5s;
}

.left .toggle span {
    width: 6px;
    height: 6px;
    display: inline-block;
    position: relative;
}

.left .toggle span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
}

.left .toggle span:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
}

.left h1 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 4vw;
    line-height: 90px;
    padding-top: 80px;
}

.left p {
    font-size: 2vw;
    color: #ffa200;
    padding-top: 10px;

}

.left .btn {
    font-size: 20px;
    display: inline-block;
    color: #333;
    border: 3px solid #333;
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 50px;
    margin-top: 50px;
    transform: all ease 0.5s;
}

.left .btn:hover {
    background-color: #333;
    color: #fff;
}


/* NAV */
.navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: -100%;
    padding: 0 30px;
    z-index: 1;
    transition: all ease 0.5s;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
}

.navbar ul li {
    display: inline-block;
    float: left;
    width: 100%;
}

.navbar ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    padding: 30px 0 10px;
    color: #333;
}

.navbar ul li .active {
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    padding: 30px 0 10px;
    color: #0b2bff;
}

.navbar ul li a:hover {
    color: purple;
}

.header.menu .navbar {
    left: 0;
}

.header.menu .toggle {
    transform: rotate(90deg);
}



/* Right section */
.right {
    font-family: 'Akaya Telivigala', cursive;
    width: 60%;
    height: 100vh;
    float: right;
    overflow-y: auto;
    background-color: #0b2bff;
}

.right .col {
    /* width: 50%; */
    float: left;
    /* line-height: 0; */
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

/* .right .col img {
    width: 100%;
} */

.right h2 {
    color: royalblue;
}

.right h3 {
    color: white;
}

.right .col table {
    border-spacing: 10px;
    border: 1px solid white;
}

.right .col table th {
    font-size: large;
    color: white;
    /* border: 1px solid white; */
    text-align: center;
    padding: 10px;

}

.right .col table td {
    font-size: large;
    color: white;
    /* border: 1px solid white; */

    text-align: center;
    padding: 10px;

}

.right .col table:hover {
    font-size: large;
    margin: 10px;
    background-color: rgb(236, 56, 56);
    text-align: center;
    padding: 10px;
    transition: all ease 0.5s;
}